* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  background: #24292e;
  -webkit-font-smoothing: antialised !important;
}

body, input, button {
  color: #222;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif
}

button {
  cursor: pointer;
}

.container {
  max-width: 700px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 80px auto;
}

.titulo {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000;
}